In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
house = pd.read_csv('../housing.csv')
house

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [3]:
house.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [4]:
house_num = house.drop('ocean_proximity', axis=1).copy()

In [5]:
house_num

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [6]:
from sklearn.impute import SimpleImputer

In [7]:
impute = SimpleImputer(strategy='median')

In [8]:
impute.fit(house_num)

SimpleImputer(strategy='median')

In [9]:
impute.statistics_

array([-1.1849e+02,  3.4260e+01,  2.9000e+01,  2.1270e+03,  4.3500e+02,
        1.1660e+03,  4.0900e+02,  3.5348e+00,  1.7970e+05])

In [10]:
impute.transform(house_num)

array([[-1.2223e+02,  3.7880e+01,  4.1000e+01, ...,  1.2600e+02,
         8.3252e+00,  4.5260e+05],
       [-1.2222e+02,  3.7860e+01,  2.1000e+01, ...,  1.1380e+03,
         8.3014e+00,  3.5850e+05],
       [-1.2224e+02,  3.7850e+01,  5.2000e+01, ...,  1.7700e+02,
         7.2574e+00,  3.5210e+05],
       ...,
       [-1.2122e+02,  3.9430e+01,  1.7000e+01, ...,  4.3300e+02,
         1.7000e+00,  9.2300e+04],
       [-1.2132e+02,  3.9430e+01,  1.8000e+01, ...,  3.4900e+02,
         1.8672e+00,  8.4700e+04],
       [-1.2124e+02,  3.9370e+01,  1.6000e+01, ...,  5.3000e+02,
         2.3886e+00,  8.9400e+04]])

In [11]:
house_num_tr = pd.DataFrame(impute.transform(house_num), columns=impute.get_feature_names_out())
house_num_tr

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [12]:
house_num_tr.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

## handling categorical columns


                                1. Ordinal encoder / Label encoder
    
                                2. One hot encoder

In [13]:
data = pd.DataFrame({
    'student': np.random.choice(['low', 'avg', 'good'], 10, True),
    'grades': np.random.choice(['A', 'B', 'C'], 10, True)
})

In [14]:
data

  student grades
0    good      C
1     avg      C
2     avg      B
3     low      C
4    good      B
5     avg      C
6     low      B
7     avg      C
8     low      B
9     low      B

In [15]:
from sklearn.preprocessing import OrdinalEncoder

In [16]:
ordinal = OrdinalEncoder()

In [17]:
ordinal.fit(data)

OrdinalEncoder()

In [18]:
ordinal.categories_

[array(['avg', 'good', 'low'], dtype=object), array(['B', 'C'], dtype=object)]

In [19]:
ordinal.transform(data)

array([[1., 1.],
       [0., 1.],
       [0., 0.],
       [2., 1.],
       [1., 0.],
       [0., 1.],
       [2., 0.],
       [0., 1.],
       [2., 0.],
       [2., 0.]])

In [20]:
house

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [21]:
house_cat = house[['ocean_proximity']]
house_cat

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 1 columns]

In [22]:
ordinal.fit(house_cat)

OrdinalEncoder()

In [23]:
ordinal.categories_

[array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
       dtype=object)]

In [24]:
ordinal.transform(house_cat)

array([[3.],
       [3.],
       [3.],
       ...,
       [1.],
       [1.],
       [1.]])

In [25]:
pd.DataFrame(ordinal.transform(house_cat), columns=ordinal.get_feature_names_out())

       ocean_proximity
0                  3.0
1                  3.0
2                  3.0
3                  3.0
4                  3.0
...                ...
20635              1.0
20636              1.0
20637              1.0
20638              1.0
20639              1.0

[20640 rows x 1 columns]

## one hot encoding


                nominal data

In [28]:
data = pd.DataFrame({
    'gender': np.random.choice(['male', 'female'], 10, True),
    'food':np.random.choice(['south', 'north', 'east', 'west'], 10, True)
})
data

   gender   food
0    male   east
1    male   west
2  female  north
3    male  south
4    male   west
5    male   east
6  female   east
7    male  north
8    male   west
9    male  north

In [29]:
from sklearn.preprocessing import OneHotEncoder

In [30]:
encoder = OneHotEncoder()

In [31]:
encoder.fit(data)

OneHotEncoder()

In [32]:
encoder.categories_

[array(['female', 'male'], dtype=object),
 array(['east', 'north', 'south', 'west'], dtype=object)]

In [33]:
encoder.get_feature_names_out()

array(['gender_female', 'gender_male', 'food_east', 'food_north',
       'food_south', 'food_west'], dtype=object)

In [34]:
encoder.transform(data)

<10x6 sparse matrix of type '<class 'numpy.float64'>'
	with 20 stored elements in Compressed Sparse Row format>

In [35]:
sparse_matrix = encoder.transform(data)
sparse_matrix

<10x6 sparse matrix of type '<class 'numpy.float64'>'
	with 20 stored elements in Compressed Sparse Row format>

In [36]:
sparse_matrix.toarray()

array([[0., 1., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [1., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 1., 1., 0., 0., 0.],
       [1., 0., 1., 0., 0., 0.],
       [0., 1., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 1., 0., 1., 0., 0.]])

In [37]:
pd.DataFrame(sparse_matrix.toarray(), columns=encoder.get_feature_names_out())

   gender_female  gender_male  food_east  food_north  food_south  food_west
0            0.0          1.0        1.0         0.0         0.0        0.0
1            0.0          1.0        0.0         0.0         0.0        1.0
2            1.0          0.0        0.0         1.0         0.0        0.0
3            0.0          1.0        0.0         0.0         1.0        0.0
4            0.0          1.0        0.0         0.0         0.0        1.0
5            0.0          1.0        1.0         0.0         0.0        0.0
6            1.0          0.0        1.0         0.0         0.0        0.0
7            0.0          1.0        0.0         1.0         0.0        0.0
8            0.0          1.0        0.0         0.0         0.0        1.0
9            0.0          1.0        0.0         1.0         0.0        0.0