In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
house = pd.read_csv('../housing.csv')
house

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [3]:
X = house.drop('median_house_value', axis=1).copy()
y = house.median_house_value

In [5]:
X_num = X.select_dtypes('float')
X_num

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462
...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886

In [6]:
X_cat = X.select_dtypes('object')
X_cat

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 1 columns]

In [7]:
from sklearn.impute import SimpleImputer

In [8]:
impute = SimpleImputer(strategy='median')

In [9]:
impute.fit(X_num)

SimpleImputer(strategy='median')

In [10]:
impute.transform(X_num)

array([[-1.2223e+02,  3.7880e+01,  4.1000e+01, ...,  3.2200e+02,
         1.2600e+02,  8.3252e+00],
       [-1.2222e+02,  3.7860e+01,  2.1000e+01, ...,  2.4010e+03,
         1.1380e+03,  8.3014e+00],
       [-1.2224e+02,  3.7850e+01,  5.2000e+01, ...,  4.9600e+02,
         1.7700e+02,  7.2574e+00],
       ...,
       [-1.2122e+02,  3.9430e+01,  1.7000e+01, ...,  1.0070e+03,
         4.3300e+02,  1.7000e+00],
       [-1.2132e+02,  3.9430e+01,  1.8000e+01, ...,  7.4100e+02,
         3.4900e+02,  1.8672e+00],
       [-1.2124e+02,  3.9370e+01,  1.6000e+01, ...,  1.3870e+03,
         5.3000e+02,  2.3886e+00]])

In [12]:
X_num_impute = pd.DataFrame(impute.transform(X_num), columns=impute.get_feature_names_out())
X_num_impute

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462
...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886

In [13]:
X_num.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
dtype: int64

In [14]:
X_num_impute.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
dtype: int64

In [16]:
from sklearn.preprocessing import StandardScaler

In [17]:
scale = StandardScaler()

In [18]:
scale.fit(X_num_impute)

StandardScaler()

In [19]:
scale.mean_

array([-119.56970446,   35.63186143,   28.63948643, 2635.7630814 ,
        536.83885659, 1425.47674419,  499.53968023,    3.870671  ])

In [20]:
scale.var_

array([4.01394488e+00, 4.56207160e+00, 1.58388586e+02, 4.75921451e+06,
       1.75881025e+05, 1.28240832e+06, 1.46168958e+05, 3.60914769e+00])

In [21]:
scale.transform(X_num_impute)

array([[-1.32783522,  1.05254828,  0.98214266, ..., -0.9744286 ,
        -0.97703285,  2.34476576],
       [-1.32284391,  1.04318455, -0.60701891, ...,  0.86143887,
         1.66996103,  2.33223796],
       [-1.33282653,  1.03850269,  1.85618152, ..., -0.82077735,
        -0.84363692,  1.7826994 ],
       ...,
       [-0.8237132 ,  1.77823747, -0.92485123, ..., -0.3695372 ,
        -0.17404163, -1.14259331],
       [-0.87362627,  1.77823747, -0.84539315, ..., -0.60442933,
        -0.39375258, -1.05458292],
       [-0.83369581,  1.75014627, -1.00430931, ..., -0.03397701,
         0.07967221, -0.78012947]])

In [22]:
X_num_tr = pd.DataFrame(scale.transform(X_num_impute), columns=scale.get_feature_names_out())
X_num_tr

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-1.327835,1.052548,0.982143,-0.804819,-0.972476,-0.974429,-0.977033,2.344766
1,-1.322844,1.043185,-0.607019,2.045890,1.357143,0.861439,1.669961,2.332238
2,-1.332827,1.038503,1.856182,-0.535746,-0.827024,-0.820777,-0.843637,1.782699
3,-1.337818,1.038503,1.856182,-0.624215,-0.719723,-0.766028,-0.733781,0.932968
4,-1.337818,1.038503,1.856182,-0.462404,-0.612423,-0.759847,-0.629157,-0.012881
...,...,...,...,...,...,...,...,...
20635,-0.758826,1.801647,-0.289187,-0.444985,-0.388283,-0.512592,-0.443449,-1.216128
20636,-0.818722,1.806329,-0.845393,-0.888704,-0.922403,-0.944405,-1.008420,-0.691593
20637,-0.823713,1.778237,-0.924851,-0.174995,-0.123608,-0.369537,-0.174042,-1.142593
20638,-0.873626,1.778237,-0.845393,-0.355600,-0.304827,-0.604429,-0.393753,-1.054583
20639,-0.833696,1.750146,-1.004309,0.068408,0.188757,-0.033977,0.079672,-0.780129

In [23]:
X_cat

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 1 columns]

In [24]:
from sklearn.preprocessing import OneHotEncoder

In [25]:
encoder = OneHotEncoder()

In [26]:
encoder.fit(X_cat)

OneHotEncoder()

In [27]:
encoder.categories_

[array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
       dtype=object)]

In [28]:
encoder.get_feature_names_out()

array(['ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'], dtype=object)

In [30]:
sparse_matrix = encoder.transform(X_cat)
sparse_matrix

<20640x5 sparse matrix of type '<class 'numpy.float64'>'
	with 20640 stored elements in Compressed Sparse Row format>

In [32]:
X_cat_tr = pd.DataFrame(sparse_matrix.toarray(), columns=encoder.get_feature_names_out())
X_cat_tr

,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...
20635,0.0,1.0,0.0,0.0,0.0
20636,0.0,1.0,0.0,0.0,0.0
20637,0.0,1.0,0.0,0.0,0.0
20638,0.0,1.0,0.0,0.0,0.0
20639,0.0,1.0,0.0,0.0,0.0

In [33]:
X_num_tr

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,-1.327835,1.052548,0.982143,-0.804819,-0.972476,-0.974429,-0.977033,2.344766
1,-1.322844,1.043185,-0.607019,2.045890,1.357143,0.861439,1.669961,2.332238
2,-1.332827,1.038503,1.856182,-0.535746,-0.827024,-0.820777,-0.843637,1.782699
3,-1.337818,1.038503,1.856182,-0.624215,-0.719723,-0.766028,-0.733781,0.932968
4,-1.337818,1.038503,1.856182,-0.462404,-0.612423,-0.759847,-0.629157,-0.012881
...,...,...,...,...,...,...,...,...
20635,-0.758826,1.801647,-0.289187,-0.444985,-0.388283,-0.512592,-0.443449,-1.216128
20636,-0.818722,1.806329,-0.845393,-0.888704,-0.922403,-0.944405,-1.008420,-0.691593
20637,-0.823713,1.778237,-0.924851,-0.174995,-0.123608,-0.369537,-0.174042,-1.142593
20638,-0.873626,1.778237,-0.845393,-0.355600,-0.304827,-0.604429,-0.393753,-1.054583
20639,-0.833696,1.750146,-1.004309,0.068408,0.188757,-0.033977,0.079672,-0.780129

In [34]:
X_cat_tr

,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...
20635,0.0,1.0,0.0,0.0,0.0
20636,0.0,1.0,0.0,0.0,0.0
20637,0.0,1.0,0.0,0.0,0.0
20638,0.0,1.0,0.0,0.0,0.0
20639,0.0,1.0,0.0,0.0,0.0

In [36]:
X_final = pd.concat([X_num_tr, X_cat_tr], axis=1)
X_final

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-1.327835,1.052548,0.982143,-0.804819,-0.972476,-0.974429,-0.977033,2.344766,0.0,0.0,0.0,1.0,0.0
1,-1.322844,1.043185,-0.607019,2.045890,1.357143,0.861439,1.669961,2.332238,0.0,0.0,0.0,1.0,0.0
2,-1.332827,1.038503,1.856182,-0.535746,-0.827024,-0.820777,-0.843637,1.782699,0.0,0.0,0.0,1.0,0.0
3,-1.337818,1.038503,1.856182,-0.624215,-0.719723,-0.766028,-0.733781,0.932968,0.0,0.0,0.0,1.0,0.0
4,-1.337818,1.038503,1.856182,-0.462404,-0.612423,-0.759847,-0.629157,-0.012881,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-0.758826,1.801647,-0.289187,-0.444985,-0.388283,-0.512592,-0.443449,-1.216128,0.0,1.0,0.0,0.0,0.0
20636,-0.818722,1.806329,-0.845393,-0.888704,-0.922403,-0.944405,-1.008420,-0.691593,0.0,1.0,0.0,0.0,0.0
20637,-0.823713,1.778237,-0.924851,-0.174995,-0.123608,-0.369537,-0.174042,-1.142593,0.0,1.0,0.0,0.0,0.0
20638,-0.873626,1.778237,-0.845393,-0.355600,-0.304827,-0.604429,-0.393753,-1.054583,0.0,1.0,0.0,0.0,0.0
20639,-0.833696,1.750146,-1.004309,0.068408,0.188757,-0.033977,0.079672,-0.780129,0.0,1.0,0.0,0.0,0.0

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X_final, y, test_size=0.2, random_state=123)

In [39]:
X_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
9950,-1.377748,1.286642,-0.050812,-0.740645,-0.877098,-0.813713,-0.877640,0.367796,0.0,1.0,0.0,0.0,0.0
3547,0.484009,-0.642287,-0.845393,1.612714,1.271303,1.399218,1.397938,0.930915,1.0,0.0,0.0,0.0,0.0
4448,0.678670,-0.731243,1.458891,-0.591211,-0.366823,0.023421,-0.336209,-1.127223,1.0,0.0,0.0,0.0,0.0
6984,0.773505,-0.782743,0.584852,-0.258880,-0.331056,-0.386315,-0.249894,0.395799,1.0,0.0,0.0,0.0,0.0
4432,0.683662,-0.726561,1.617807,-0.603129,-0.543273,-0.018082,-0.448680,-0.754390,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7763,0.733575,-0.806152,0.584852,-0.875411,-0.242831,-0.826076,-0.966570,-0.121999,1.0,0.0,0.0,0.0,0.0
15377,1.162827,-1.058973,-1.163225,0.940260,0.610807,0.892346,0.730958,0.351846,1.0,0.0,0.0,0.0,0.0
17730,-1.093244,0.795046,-1.878348,0.695482,0.434356,0.891463,0.516479,0.926388,1.0,0.0,0.0,0.0,0.0
15725,-1.432653,1.005730,1.220517,-0.499992,-0.483662,-0.763379,-0.453912,0.002279,0.0,0.0,0.0,1.0,0.0
19966,0.244427,0.270677,-0.686477,-0.332222,-0.352516,-0.162903,-0.396368,-0.713279,0.0,1.0,0.0,0.0,0.0

In [40]:
y_train

9950     287500.0
3547     271500.0
4448     191700.0
6984     219700.0
4432     114000.0
           ...
7763     167600.0
15377    180900.0
17730    286200.0
15725    412500.0
19966     59300.0
Name: median_house_value, Length: 16512, dtype: float64

In [44]:
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR

from sklearn.metrics import r2_score, mean_absolute_error

In [45]:
models = [
    ('linear_regression', LinearRegression()),
    ('SGD', SGDRegressor()),
    ('Random_forest', RandomForestRegressor()),
    ('Tree', DecisionTreeRegressor()),
    ('neighbores', KNeighborsRegressor()),
    ('SVM', SVR())
]

In [48]:
for name, model in models:
    model.fit(X_train, y_train)

    print(f"{name}")
    y_hat = model.predict(X_train)

    print(f"Training error: {mean_absolute_error(y_train, y_hat):.2f}")
    print(f"Training accuracy: {r2_score(y_train, y_hat):.2f}")

    print("_"*100)

    y_hat = model.predict(X_test)

    print(f"Testing error: {mean_absolute_error(y_test, y_hat):.2f}")
    print(f"Testing accuracy: {r2_score(y_test, y_hat):.2f}")
    print()

linear_regression
Training error: 49995.88
Training accuracy: 0.65
____________________________________________________________________________________________________
Testing error: 49183.04
Testing accuracy: 0.64

SGD
Training error: 50079.59
Training accuracy: 0.64
____________________________________________________________________________________________________
Testing error: 49285.41
Testing accuracy: 0.64

Random_forest
Training error: 11784.50
Training accuracy: 0.97
____________________________________________________________________________________________________
Testing error: 30815.79
Testing accuracy: 0.83

Tree
Training error: 0.00
Training accuracy: 1.00
____________________________________________________________________________________________________
Testing error: 42093.96
Testing accuracy: 0.67

neighbores
Training error: 33424.97
Training accuracy: 0.81
____________________________________________________________________________________________________
Testing error: 39377.51
Testing accuracy: 0.74

SVM
Training error: 88056.44
Training accuracy: -0.05
____________________________________________________________________________________________________
Testing error: 87730.13
Testing accuracy: -0.04